{% extends "base.html" %}
{% load static %}
{%block content%}
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-danger"><b>Squeaky</b> Clean</h1>
                                <h3 class="h2">The best place for all your car detaling needs</h3>
                                <p>
                                    Multiple well known brands to choose from
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">place holder</h1>
                                <h3 class="h2">place holder</h3>
                                <p>
                                    Place Holder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Place holder</h1>
                                <h3 class="h2">place holder</h3>
                                <p>
                                    Place holder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <a href="{% url 'products' %}?category={{category.name}}" class="link-light text-decoration-none">{{ category.friendly_name }}</a>


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                   These are the categories that have had the most purchases or the best reviews making them our categories of the month!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'products' %}?category=washmits/spunges"><img src="{% static 'store/images/meguiarswashmitt.jpg'%}" class="img-fluid"></a>
                <h5 class="text-center mt-3 mb-3">Wash Mitts / Spunges</h5>
                <p class="text-center">
                    <a class="btn btn-success" href="{% url 'products' %}?category=washmits/spunges">
                        Go Shop
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'products' %}?category=buckets"><img src="{% static 'store/images/heavydutybucket.jpg'%}" class="img-fluid"></a>
                <h2 class="h5 text-center mt-3 mb-3">Buckets</h2>
                <p class="text-center">
                    <a class="btn btn-success" href="{% url 'products' %}?category=buckets">
                        Go Shop
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'products' %}?category=sealent/wax"><img src="{% static 'store/images/hybridsealentwax.jpg'%}" class=" img-fluid"></a>
                <h2 class="h5 text-center mt-3 mb-3">Sealent / Wax</h2>
                <p class="text-center">
                    <a class="btn btn-success" href="{% url 'products' %}?category=sealent/wax">
                        Go Shop
                    </a>
                </p>            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product1.pk %}">
                            <img class="card-img-top img-fluid" src="{{ product1.image.url }}" alt="{{ product1.name }}">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    {% if product1.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product1.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </li>
                                <li class="text-muted text-right">£{{ product1.price }}</li>
                            </ul>
                            <a href="{% url 'product_detail' product1.pk %}" class="h2 text-decoration-none text-dark">{{ product1.name }}</a>
                            <p class="card-text">
                                {{ product1.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product2.pk %}">
                            <img class="card-img-top img-fluid" src="{{ product2.image.url }}" alt="{{ product2.name }}">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    {% if product2.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product2.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </li>
                                <li class="text-muted text-right">£{{ product2.price }}</li>
                            </ul>
                            <a href="{% url 'product_detail' product2.pk %}" class="h2 text-decoration-none text-dark">{{ product2.name }}</a>
                            <p class="card-text">
                                {{ product2.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product3.pk %}">
                            <img class="card-img-top img-fluid" src="{{ product3.image.url }}" alt="{{ product3.name }}">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    {% if product3.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product3.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </li>
                                <li class="text-muted text-right">£{{ product3.price }}</li>
                            </ul>
                            <a href="{% url 'product_detail' product3.pk %}" class="h2 text-decoration-none text-dark">{{ product3.name }}</a>
                            <p class="card-text">
                                {{ product3.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
{%endblock%}